@font-face {
    font-family: "SFPro-Regular";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-Regular.woff2);
}
@font-face {
    font-family: "SFPro-Black";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-Black.woff2);
}
@font-face {
    font-family: "SFPro-Bold1";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-Bold1.woff2);
    src: url(../assets/fonts/sf-pro/FontsFree-Net-Boldness-1.woff2);
}
@font-face {
    font-family: "SFPro-BoldItalic";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-BoldItalic.woff2);
}
@font-face {
    font-family: "SFPro-Heavy";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-Heavy.woff2);
}
@font-face {
    font-family: "SFPro-Light";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-Light.woff2);
}
@font-face {
    font-family: "SFPro-medium-webfont";
    src: url(../assets/fonts/sf-pro/fontsfree-net-sfprodisplay-medium-webfont.woff);
    src: url(../assets/fonts/sf-pro/fontsfree-net-sfprodisplay-medium-webfont.woff2);
}
@font-face {
    font-family: "SFPro-Semibold";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-Semibold.woff2);
}
@font-face {
    font-family: "SFPro-SemiboldItalic";
    src: url(../assets/fonts/sf-pro/FontsFree-Net-SFProDisplay-SemiboldItalic.woff2);
}
@font-face {
    font-family: "SFPro-Medium";
    src: url(../assets/fonts/sf-pro/SFProDisplay-Medium.woff2);
}